* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    /* Colors Principais */
    --primery-color-orange: #FA7436;
    --primery-color-black: #222;
    --secondary-color-blue: #4086F4;
    --secondary-color-yellow: #FFB60A;

    /* Text Colors */
    --text-color-1: #222;
    --text-color-2: #444;
    --text-color-3: #666;

    /* Icons Colors */
    --icons-color-1: #999;
    --icons-color-2: #E5E5E5;
    --icons-color-3: #fa7a36;

    /* Button */
    --button-colors: #FA7436;

    /* Background Color */
    --bg-color-1: #FA7A36;
    --bg-color-2: #FEFCFB;
    --bg-color-3: #F7F8FC;

    --font-family-volkhov : "Volkhov", serif;
    --font-family-poppins : "Poppins", sans-serif;
}

body, html {
    overflow-x: hidden;
    background: var(--bg-color-2);
}
section {
    padding: 100px 16%;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 12%;
    transition: all 0.3s ease;
}
.logo {
    max-width: 100%;
    width: 100px;
    height: auto;
}
.navlist {
    display: flex;
}
.navlist a {
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 500;
    font-family: var(--font-family-poppins);
    padding: 10px 27px;
    transition: all 0.3s ease;
}
.navlist a:hover {
    color: var(--icons-color-3);
}
.btn {
    width: 120px;
    height: 40px;
    display: flex;
    display: inline-block;
    padding: 10px 12px;
    background: var(--bg-color-1);
    /* border: 2px solid var(--main-color); */
    border-radius: 6px;
    color: var(--bg-color-2);
    letter-spacing: 1px;
    font-size: 12px;
    font-family: var(--font-family-poppins);
    text-align: center;
    
    font-weight: 500;
    transition: ease 0.8s;
}
.btn:hover {
    color: var(--bg-color-1);
    background: transparent;
    border: 1px solid var(--bg-color-1);
}