* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    /* Colors Principais */
    --primery-color-orange: #FA7436;
    --primery-color-black: #222;
    --secondary-color-blue: #4086F4;
    --secondary-color-yellow: #FFB60A;

    /* Text Colors */
    --text-color-1: #222;
    --text-color-2: #444;
    --text-color-3: #666;

    /* Icons Colors */
    --icons-color-1: #999;
    --icons-color-2: #E5E5E5;
    --icons-color-3: #fa7a36;

    /* Button */
    --button-colors: #FA7436;

    /* Background Color */
    --bg-color-1: #FA7A36;
    --bg-color-2: #FEFCFB;
    --bg-color-3: #F7F8FC;

    --font-family-volkhov : "Volkhov", serif;
    --font-family-poppins : "Poppins", sans-serif;
}

body, html {
    overflow-x: hidden;
    background: var(--bg-color-2);
}
section {
    padding: 100px 16%;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 12%;
    transition: all 0.3s ease;
}
.logo {
    max-width: 100%;
    width: 100px;
    height: auto;
}
.navlist {
    display: flex;
}
.navlist a {
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 500;
    font-family: var(--font-family-poppins);
    padding: 10px 27px;
    transition: all 0.3s ease;
}
.navlist a:hover {
    color: var(--icons-color-3);
}
.btn {
    width: 120px;
    height: 40px;
    display: flex;
    display: inline-block;
    padding: 10px 12px;
    background: var(--bg-color-1);
    /* border: 2px solid var(--main-color); */
    border-radius: 6px;
    color: var(--bg-color-2);
    letter-spacing: 1px;
    font-size: 12px;
    font-family: var(--font-family-poppins);
    text-align: center;
    
    font-weight: 500;
    transition: ease 0.8s;
}
.btn:hover {
    color: var(--bg-color-1);
    background: transparent;
    border: 1px solid var(--bg-color-1);
    transform: scale(1.1);
}


/* HOME */
.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 6rem;
}
.home-text h1 {
    margin: 10px 0px 25px;
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: var(--font-family-volkhov);
}
.home-text h1 span {
    color: var(--bg-color-1);
}
.home-text p {
    font-size: .9rem;
    font-family: var(--font-family-poppins);
    color: var(--text-color-3);
    line-height: 28px;
    margin-bottom: 20px;
}
.home-img img {
    max-width: 110%;
    width: 840px;
    height: auto;
    transition: ease 0.4s;
}
.home-img img:hover {
    transform: scale(1.1);
}

/* Details */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    text-align: center;
    position: relative;
    

    background: transparent;
    width: 80%;
    margin: auto;
    height: 70px;
    border-radius: 12px;
    border: 0.8px solid var(--text-color-3);
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.container div {
    flex: 1;
}

.container h4 {
    margin-bottom: 10px;
}

.container p {
    font-size: 14px;
}

